body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(135deg, #000000, #4B0082); 
}

h1, h2 {
    color: #E6E6FA;
    text-align: center;
}

p {
    color: #D8BFD8;
}

.lista-topico {
    background: linear-gradient(135deg, #1C1C1C, #6A0DAD); 
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lista-topico:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 15px;
    padding-left: 30px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    background: linear-gradient(135deg, #4B0082, #9400D3); 
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    transition: background 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

a:hover {
    background: linear-gradient(135deg, #8A2BE2, #DA70D6); 
    transform: scale(1.05);
}

.imagem-topico {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 10px;
    margin-bottom: 15px;
}

/* Estilo das páginas */
.conteudo-artigo {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.destaque {
    background-color: rgba(0, 0, 0, 0.8);
    border-left: 8px solid #4B0082;
    border-radius: 10px;
    padding: 15px;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #4B0082;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-to-top:hover {
    background-color: #DA70D6; 
    transform: scale(1.1);
}

.T2 {
    background-color: rgba(72, 61, 139, 0.8); 
    padding: 10px;
    border-radius: 10px;
}
